{% extends 'base.html.twig' %}

{% block title %}Demo Mercure{% endblock %}

 {% block stylesheets %}
     {{ encore_entry_link_tags('app') }}
     <style>
         .notification-center div[data-id] {
             cursor: pointer;
         }

         section {
             margin-top: 1rem;
         }

     </style>
 {% endblock %}

{% block body %}
    <header>
        <h1>Notification center <span id="count-notifications" class="badge badge-danger">{{ count_notifications }}</span></h1>
    </header>

    <section data-topics="{{ topics|json_encode }}" class="mt-200">

        <div id="notification-center" class="notification-center">
            {% for notification in notifications %}
                <div data-id="{{ notification.id }}" data-action="is_read"
                     class="alert alert-dark d-flex flex-wrap {{ notification.readedAt != null ? 'read' }}"
                     role="alert">
                    <div class="pr-5">{{ notification.createdAt|date('H:i:s') }}</div>
                    <div class="content flex-grow-1">{{ notification.content }}</div>
                    {% if 'csv' in notification.content %}
                        <div class="pl-5 action {{ notification.processedAt != null ? 'process' }}">
                            <a data-id="{{ notification.id }}"
                               data-action="is_processed"
                               href="{{ path('download_file', {'filename': notification.link }) }}"
                               class="btn btn-primary active"
                               role="button">Download</a>
                            <a data-id="{{ notification.id }}"
                               data-action="is_processed"
                               class="btn btn-secondary active"
                               role="button">Cancel</a>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('notification') }}
    {% endblock %}